{% extends 'master.twig' %}

{% block head %}
    <script src="/js/Chart.js"></script>
{% endblock head %}

{% block content %}

    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m4">
                <!-- Profile -->
                <div class="w3-card-2 w3-round w3-white">
                    <div class="w3-container">
                        <h4 class="w3-center">{{ professor.name }}</h4>
                        <p class="w3-center"><img src="/img/professors/{{ professor.photo }}" class="w3-circle"
                                                  style="height:106px;width:106px" alt="Avatar"></p>
                        <hr>
                        <p><i class="material-icons w3-margin-right w3-text-theme">school</i>{{ professor.majorName }}
                        </p>
                    </div>
                </div>
                <br>
                <div class="w3-card-2 w3-round w3-white">
                    <div class="w3-container">
                        <h4 class="w3-center"> Studies </h4>
                        <p class="w3-center"><i class="w3-btn w3-white fa fa-university fa-4x w3-text-light-green"
                                                style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); cursor:default"
                                                aria-hidden="true"></i></p>
                        <hr>
                        <p class="w3-text-theme">{{ professor.studies }}</p>
                    </div>
                </div>
                <br>
                <div class="w3-card-2 w3-round w3-white">
                    <div class="w3-container">
                        <h4 class="w3-center"> Info </h4>
                        <p class="w3-center"><i class="w3-btn w3-white fa fa-info-circle fa-4x w3-text-light-blue"
                                                style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); cursor:default"
                                                aria-hidden="true"></i></p>
                        <hr>
                        <p class="w3-text-theme">{{ professor.info }}</p>
                    </div>
                </div>
                <br>
                <!-- Alert Box -->
                <div class="w3-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-hover-text-grey w3-closebtn">
          <i class="fa fa-remove"></i>
        </span>
                    <p><strong>Hey!</strong></p>
                    <p class="w3-hover-text-deep-orange"><a href="#">Would you like to judge this professor?</a></p>
                </div>
                <br>
                <!-- End Left Column -->
            </div>

            <!-- Middle Column -->
            <div class="w3-col m8">

                <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
                    <i class="material-icons w3-left w3-margin-right w3-xxxlarge w3-text-lime">insert_chart</i>
                    <span class="w3-right w3-opacity">32 min</span>
                    <h4>Statistics</h4><br>
                    <hr class="w3-clear">
                    <p>Total Judgments: 5</p>
                    <div class="w3-margin-bottom" style="width:100%;">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
                <br>

                {% for comment in comments %}
                    <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
                        <img src="/img/img_avatar5.png" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                             style="width:60px">
                        <span class="w3-right w3-opacity">16 min</span>
                        <h4>Anonymous Comment</h4><br>
                        <hr class="w3-clear">
                        <p class="w3-architects w3-large">{{ comment.comment }}. Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                        <button type="button" class="w3-btn w3-theme-l1 w3-margin-bottom"><i
                                    class="fa fa-thumbs-up"></i>  Like
                        </button>
                        <button type="button" name="reportID" value="{{ comment.judgmentID }}" class="reportID w3-btn w3-theme-l4 w3-margin-bottom"><i class="fa fa-flag"></i>
                             Report
                        </button>
                    </div>
                {% endfor %}
                <!-- End Middle Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>
    <br>




    <script>
        //Report the comment
        $(document).ready(function(){
            $(".reportID").click(function(){

                var $this = $(this);
                var url, html;

                if ($this.hasClass( "w3-theme-l4" )){
                    url = "/report-comment";
                    html = "Reported.";
                } else {
                    url = "/unreport-comment";
                    html = "<i class='fa fa-flag'></i> &nbsp;Report";
                }

                var request = $.ajax({
                    url: url,
                    method: "POST",
                    data: { id : $this.attr("value") },
                    success: function() {
                        $this.toggleClass('w3-theme-l4 w3-red');
                        $this.html(html);
                    },
                    error: function( jqXHR, textStatus ) {
                        alert( "Request failed: " + textStatus );
                    }
                });

            });
        });



        //Create the radar chart
        var radarChartData = {
            labels: ["Eloquent", "Knowledgeable", "Polite/Respectful", "Helpful/Accessible/Caring", "Prepared/Punctual", "Inspiring/Engaging"],
            datasets: [

                {
                    label: "Average Ratings",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [{{ judgments.AVG_eloquent }}, {{ judgments.AVG_knowledgable }}, {{ judgments.AVG_politeAndRespectful }}, {{ judgments.AVG_helpfulAccessibleAndCaring }}, {{ judgments.AVG_preparedAndPunctual }}, {{ judgments.AVG_inspiringAndEngaging }}]
                }
            ]
        };

        //Resize label font size according to screen
        window.onload = function () {
            var mq = window.matchMedia('all and (max-width: 500px)');
            if (mq.matches) {
                window.myRadar = new Chart(document.getElementById("canvas").getContext("2d")).Radar(radarChartData, {
                    responsive: true,
                    pointLabelFontSize: 7
                });
            } else {
                window.myRadar = new Chart(document.getElementById("canvas").getContext("2d")).Radar(radarChartData, {
                    responsive: true,
                    pointLabelFontSize: 14
                });
            }

            mq.addListener(function (changed) { //this is for when resizing the screen manually
                if (changed.matches) {
                    window.myRadar = new Chart(document.getElementById("canvas").getContext("2d")).Radar(radarChartData, {
                        responsive: true,
                        pointLabelFontSize: 7
                    });
                } else {
                    window.myRadar = new Chart(document.getElementById("canvas").getContext("2d")).Radar(radarChartData, {
                        responsive: true,
                        pointLabelFontSize: 14
                    });
                }
            });

        }
    </script>

{% endblock content %}

{% block scripts %}

    // Accordion
    function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
    } else {
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
    }

{% endblock scripts %}
