{% extends 'master.twig' %}

{% block content %}

<div class="w3-container" style="margin-top: 80px;">
    <div class="w3-row">
            <div class="w3-card-4" style="max-width: 600px; margin: 30px auto;">

                <header class="w3-container w3-light-grey">
                    <h2>First, select the department.</h2>
                </header>

                    <select class="w3-select w3-round" id="major" name="major" >
                        <option value="" disabled selected>Choose department:</option>
                        {% for major in majors %}
                        <option value="{{ major.majorID }}">{{ major.majorName }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <br>

                <header class="w3-container w3-light-grey">
                    <h2>Then, select the professor.</h2>
                </header>

                <form class="w3-card-4" method="post" action="/selectProfessor">
                    <select class="w3-select w3-border" id="professor" name="professor">
                        <option value="" disabled selected>Choose professor:</option>
                        {% for professor in professors %}
                            <option class="major-{{ professor.majorID }}" value="{{ professor.id }}">{{ professor.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <br>
                    <button class="w3-btn-block w3-teal w3-xlarge">Judge!</button>
                </form>

        </div>
    </div>

</div>

{% endblock content %}

{% block scripts %}

    $( document ).ready(function() {
        profOptions = $("#professor option"); //store all options as a jquery object
        $("#professor option").remove(); // remove all options
//        $("#major").trigger("change"); // trigger change on first select
    });
    $("#major").on("change", function() { // this event will fire anytime first select is changed
        var majorID = this.value; // get value of first select
        $("#professor option").remove(); // remove all professor options
        profOptions.each( function() { // iterate through options
            if ($(this).hasClass("major-" + majorID)) { // check if option has matching classname
                $("#professor").append($(this)); // append option to second select
            }
        });
    });

    function w3_open() {
        document.getElementById("mySidenav").style.display = "block";
    }
    function w3_close() {
        document.getElementById("mySidenav").style.display = "none";
    }

{% endblock scripts %}